<div class="row text-white bg-secondary ">
    <div class="col">
        <img class="float-right" src="assets/default/images/ufal.png">
    </div>
    <div class="col-6">
        <h6 class="text-center" style="margin-top: 40px;">Estudo em Ambientes Educacionais Gamificados
        </h6>
    </div>
    <div class="col ">
        <img class="float-left" src="assets/default/images/ic.png">
    </div>
</div>


<div class="container">
    <div class="card" ng-show="!start" style="width: 100%; margin-top: 15px;">

        <h5 class="card-header">Termo de Consentimento Livre e Esclarecido</h5>
        <div class="card-body">
            <div class="container">
                <br>
                <p> Você está sendo convidado(a) a participar voluntariamente do projeto de pesquisa sobre o efeito
                    novidade em ambientes gamificados de ensino, dos pesquisadores Dalmaris de Lima , do Prof. Dr.
                    Ig Ibert Bittencourt e do Prof. Dr. Diego Dermeval, da Universidade Federal de Alagoas (UFAL). </p>


                <p> <strong>Objetivos da Pesquisa:</strong> Analisar o fenômeno dos efeitos da novidade da gamificação
                    em ambientes de
                    ensino-aprendizagem online, a fim de caracterizar os impactos na experiência de fluxo, engajamento e
                    ansiedade dos alunos. </p>
                <p> Você foi selecionado(a) de forma arbitrária e sua participação não é obrigatória. A qualquer
                    momento, você poderá desistir de participar deste estudo. Sua recusa, desistência ou
                    retirada de
                    consentimento não acarretará prejuízo. </p>
                <p> <strong>Benefícios:</strong> Os prospectos deste projeto são a compreensão dos efeitos na novidade
                    da gamificação em ambientes online de ensino em seus diferentes graus e como esse efeito pode afetar
                    a experiência de fluxo, engajamento e o estado de ansiedade. Portanto, após a conclusão do simulado,
                    cada participante receberá um relatório sobre seu próprio desempenho no simulado, experiência de
                    fluxo e sobre o estado de ansiedade no momento da atividade, que foram medidos durante o estudo
                    empírico. Dessa forma, aprender o conteúdo que está disponível no tutor gamificado e os resultados
                    da autoavaliação superam os riscos associados apenas ao uso de dispositivos eletrônicos
                    (computadores, laptops e smartphones).</p>
                <p><strong>Os incômodos e possíveis riscos à sua saúde física e/ou mental são:</strong> Os possíveis
                    riscos à saúde física e / ou mental dos participantes do estudo empírico do projeto estão
                    relacionados apenas ao uso de equipamentos de informática. Principalmente o uso de computadores,
                    laptops e smartphones onde serão executados o tutor online gamificado. Para minimizar os riscos
                    (fadiga visual, dor de cabeça e cansaço mental) , por isso é aconselhado aos os participantes a
                    reduzir o brilho da tela e procurar um local confortável e fazer uma pausa de alguns minutos a
                    cada hora trabalhada no tutor. Se caso você sofra de algum transtorno de ansiedade, aconselha-se a
                    não participar do mesmo
                    A confidencialidade dos dados pessoais coletados de participantes na pesquisa empírica também pode
                    ser violada. No entanto, para lidar com esse risco, todos os dados coletados serão anonimizados para
                    evitar a identificação pessoal dos participantes da pesquisa, a fim de cumprir os requisitos da Lei
                    de agosto nº 13709, Lei Geral de Proteção de Dados Pessoais (LGPD). 14 2018. </p>

                <p>O participante deste estudo não será remunerado em hipótese alguma. Além disso, a
                    participação no mesmo não implica em nenhum gasto para os participantes. No entanto, não nos
                    responsabilizamos por quaisquer problemas técnicos que possam vir a ocorrer durante a execução desta
                    pesquisa. </p>

                <p> Sua participação nesta pesquisa consistirá em executar seis atividades. Primeiro, será
                    aplicado um questionário de ansiedade e em seguida o questionaris de predisposição de Fluxo. Em
                    seguida, você será direcionado(a) para uma outra página com o
                    protótipo de um sistema tutor onde você responderá a perguntas cinco perguntas restiradas do Exame
                    Nacional do Ensino Médio (ENEM).
                    Ao finalizar as questões você será direcinado para a segunda parte do questionário, com mais cinco
                    questãoes, também restiradas do ENEM.
                    Finalmente, você será direcionado(a), novamente, responder asegunda parte do questionário de
                    ansiedade em seguida você responderá o questionário de experiência de fluxo. </p>

                <p>Durante a execução, somente suas respostas serão coletadas. Todo o processo tem duração
                    aproximada de 30 minutos. Os dados obtidos por meio desta pesquisa serão confidenciais e não
                    serão divulgados em nível individual, visando assegurar o sigilo de sua participação. O
                    pesquisador responsável se comprometeu a tornar públicos nos meios acadêmicos e científicos
                    os resultados obtidos de forma consolidada sem qualquer identificação de indivíduos
                    participantes.
                </p>
                <p>Durante toda a pesquisa, você poderá entrar em contato com a pesquisadora Dalmaris de Lima Moraes,
                    através do Whatsapp , acessando o <a href="https://cutt.ly/LbRuv0C">link</a> ou através do email <a
                        href="https://mail.google.com/mail/u/1/#inbox">dlm@ic.ufal.br</a>, que estará disposta a
                    esclarecer todas as dúvidas que possam surgir. Você será informado(a) do resultado final do projeto
                    e sempre que desejar, serão fornecidos
                    esclarecimentos sobre cada uma das etapas do estudo.
                </p>
                <p> Caso você concorde em participar desta pesquisa, basta marcar o campo abaixo para prosseguir.</p>
                <md-checkbox ng-click="start=true; setTime()"><b>Declaro que entendi os objetivos, riscos e
                        benefícios de minha participação na pesquisa, e que concordo em participar.</b>
                </md-checkbox>
            </div>
        </div>
    </div>




    <div layout="row" layout-align="center center" ng-show="start" class="bg">
        <div class="card" style="width: 100%; margin-top: 15px;">
            <h4 class="card-header">Etapa I - Questionário Inicial</h4>
            <div class="card-body">
                <div class="row justify-content-md-center">

                    <div class="col">
                        <div class="col-sm-16">
                            <div class="card">
                                <h5 class="card-header">Parte 1/2</h5>
                                <div class="container">
                                    <div class="card-body">
                                        <p>Leia cada afirmativa abaixo e indique como você
                                            <strong>GERALMENTE</strong>
                                            se sente. Não gaste muito tempo numa única afirmação, mas tente dar uma
                                            resposta que mais se aproxima de como você se sente
                                            <strong>GERALMENTE</strong> .
                                        </p>
                                    </div>

                                    <div class="container">
                                        <form>

                                            <div class="container">
                                                <p><strong>Marque, para cada pergunta, o número correspondente abaixo
                                                        para:</strong> </p>
                                                <ul class="nav" style="padding: 20px;">
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong>1</strong> - Quase nunca
                                                        </li>
                                                    </div>
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong>2</strong> - Às vezes
                                                        </li>
                                                    </div>
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong>3</strong> - Frequentemente
                                                        </li>
                                                    </div>
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong>4</strong> - Quase sempre
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>

                                            <div class="container" ng-repeat="q in questions"
                                                style="width: 100%; margin-top: 25px; margin-bottom: 25px;">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <h5>{{q}}</h5>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <md-radio-group ng-model="answers[$index]" layout="row"
                                                            class="md-primary">
                                                            <label><strong>1</strong></label>
                                                            <md-radio-button value="1" aria-label="option 1">
                                                            </md-radio-button>
                                                            <label><strong>2</strong></label>
                                                            <md-radio-button value="2" aria-label="option 2">
                                                            </md-radio-button>
                                                            <label><strong>3</strong></label>
                                                            <md-radio-button value="3" aria-label="option 3">
                                                            </md-radio-button>
                                                            <label><strong>4</strong></label>
                                                            <md-radio-button value="4" aria-label="option 4">
                                                            </md-radio-button>
                                                        </md-radio-group>
                                                    </div>
                                                </div>
                                                <md-divider></md-divider>
                                            </div>
                                            <div class="container">
                                                <span><strong class="text-danger"> {{msg}}</strong> </span>

                                                <button type="button" class="btn btn-secondary"
                                                    style="width: 100%; margin-top: 25px; margin-bottom: 15px;"
                                                    ng-click="processAnswers()" type="submit">Próxima
                                                    Etapa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>