<div class="row text-white bg-secondary ">
    <div class="col">
        <img class="float-right" src="assets/default/images/ufal.png">
    </div>
    <div class="col-6">
        <h6 class="text-center" style="margin-top: 40px;">Estudo sobre Ansiedade em Ambientes Educacionais Gamificados
        </h6>
    </div>
    <div class="col ">
        <img class="float-left" src="assets/default/images/ic.png">
    </div>
</div>


<div class="container">
    <div class="card" ng-show="!start" style="width: 100%; margin-top: 15px;">

        <h5 class="card-header">Termo de Consentimento Livre e Esclarecido</h5>
        <div class="card-body">
            <div class="container">
                <br>
                <p> Você está sendo convidado(a) a participar, como voluntário(a), de um estudo sobre ansiedade
                    em
                    ambientes educacionais gamificados, conduzido pelo estudante Josmário Albuquerque do curso
                    de
                    graduação em Ciência da Computação do Instituto de Computação da Universidade Federal de
                    Alagoas. </p>
                <p> Este estudo tem por objetivo medir o quanto um ambiente de aprendizagem gamificado pode
                    influenciar a ansiedade de seus usuários. </p>
                <p> Você foi selecionado(a) de forma arbitrária e sua participação não é obrigatória. A qualquer
                    momento, você poderá desistir de participar deste estudo. Sua recusa, desistência ou
                    retirada de
                    consentimento não acarretará prejuízo. </p>
                <p>A princípio, este estudo não possui nenhum risco para seus participantes. No entanto, caso
                    você
                    sofra de algum transtorno de ansiedade, aconselha-se a não participar do mesmo. Além disso,
                    em
                    alguns momentos serão emitidos alguns sinais sonoros e, portanto, aconselha-se deixar o
                    volume
                    da saída de áudio em nível médio para evitar possíveis incidentes. </p>
                <p>O participante deste estudo não será remunerado em hipótese alguma. Além disso, a
                    participação no
                    mesmo não implica em nenhum gasto para os participantes. No entanto, não nos
                    responsabilizamos
                    por quaisquer problemas técnicos que possam vir a ocorrer durante a execução desta pesquisa.
                </p>
                <p> Sua participação nesta pesquisa consistirá em executar três atividades. Primeiro, será
                    aplicado
                    um questionário de ansiedade. Em seguida, você será direcionado(a) para uma outra página com
                    o
                    protótipo de um sistema tutor onde você responderá a perguntas básicas de raciocínio.
                    Finalmente, você será direcionado(a) para a última página onde, novamente, responderá ao
                    questionário de ansiedade. </p>
                <p>Durante a execução, somente suas respostas serão coletadas. Todo o processo tem duração
                    aproximada de 10 minutos. Os dados obtidos por meio desta pesquisa serão confidenciais e não
                    serão divulgados em nível individual, visando assegurar o sigilo de sua participação. O
                    pesquisador responsável se comprometeu a tornar públicos nos meios acadêmicos e científicos
                    os
                    resultados obtidos de forma consolidada sem qualquer identificação de indivíduos
                    participantes.
                </p>
                <p>A qualquer momento você poderá contactar o estudante responsável através do endereço eletrônico
                    <a href="mailto:jas@ic.ufal.br?Subject=Estudo%20sobre%20Ansiedade" target="_top">jas@ic.ufal.br</a>,
                    onde você poderá tirar suas dúvidas sobre o projeto e
                    sobre sua participação nele.
                </p>

                <p> Caso você concorde em participar desta pesquisa, basta marcar o campo abaixo para prosseguir.
                </p>
                <md-checkbox ng-click="start=true; setTime()"><b>Declaro que entendi os objetivos, riscos e
                        benefícios de minha participação na pesquisa, e que concordo em participar.</b>
                </md-checkbox>
            </div>
        </div>
    </div>




    <div layout="row" layout-align="center center" ng-show="start" class="bg">
        <div class="card" style="width: 100%; margin-top: 15px;">
            <h4 class="card-header">Etapa I - Questionário Inicial</h4>
            <div class="card-body">
                <div class="row justify-content-md-center">

                    <div class="col-lg-3">
                        <div class="col-sm-16">
                            <div class="card-deck">
                                <div class="card text-center  mb-3">
                                    <h6 class="card-header">Pontos</h6>
                                    <div class="card-body">
                                        <h3>{{getPoints()}}</h3>
                                    </div>
                                    <div ng-if="increment">
                                        <h3 class="success" layout-margin>+1</h3>
                                    </div>
                                    <div ng-if="decrement">
                                        <h3 class="fail" layout-margin>-1</h3>
                                    </div>
                                </div>
                                <div class="card text-center  mb-3 ">
                                    <h6 class="card-header">Acertos</h6>
                                    <div class="card-body">

                                        <h3> {{getLevel()}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col ">
                        <div class="col-sm-16">
                            <div class="card">
                                <h5 class="card-header">Parte 1/2</h5>
                                <div class="container">
                                    <div class="card-body">
                                        <p>Leia cada afirmativa abaixo e indique como você
                                            <strong>GERALMENTE</strong>
                                            se sente. Não gaste muito tempo numa única afirmação, mas tente dar uma
                                            resposta que mais se aproxima de como você se sente
                                            <strong>GERALMENTE</strong> .
                                        </p>
                                    </div>

                                    <div class="container">
                                        <form>
                                            <div class="container form-row">
                                                <div class="form-group col-md-6">
                                                    <label ng-required="true">Gênero</label>
                                                    <select ng-required="true" ng-model="gender" class="form-control">
                                                        <option
                                                            ng-repeat="g in ['Masculino','Feminino', 'Prefiro não Responder']">
                                                            {{g}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>Idade</label>
                                                    <input class="form-control" type="text" name="age"
                                                        ng-required="true" ng-model="age">

                                                </div>
                                            </div>
                                            <div class="container">
                                                <p><strong>Marque, par cada pergunta, o número correspondente abaixo
                                                        para:</strong> </p>
                                                <ul class="nav" style="padding: 20px;">
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong class="text-primary">1</strong> - Quase nunca
                                                        </li>
                                                    </div>
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong class="text-primary">2</strong> - Às vezes
                                                        </li>
                                                    </div>
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong class="text-primary">3</strong> - Frequentemente
                                                        </li>
                                                    </div>
                                                    <div style="padding-left: 10px;">
                                                        <li class="nav-item">
                                                            <strong class="text-primary">4</strong> - Quase sempre
                                                        </li>
                                                    </div>
                                                </ul>
                                            </div>
                                            
                                            <div class="container" ng-repeat="q in questions"
                                                style="width: 100%; margin-top: 25px; margin-bottom: 25px;">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <h5>{{q}}</h5>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <md-radio-group ng-model="answers[$index]" layout="row"
                                                            class="md-primary">
                                                            <label><strong>1</strong></label>
                                                            <md-radio-button value="1" aria-label="option 1">
                                                            </md-radio-button>
                                                            <label><strong>2</strong></label>
                                                            <md-radio-button value="2" aria-label="option 2">
                                                            </md-radio-button>
                                                            <label><strong>3</strong></label>
                                                            <md-radio-button value="3" aria-label="option 3">
                                                            </md-radio-button>
                                                            <label><strong>4</strong></label>
                                                            <md-radio-button value="4" aria-label="option 4">
                                                            </md-radio-button>
                                                        </md-radio-group>
                                                    </div>
                                                </div>
                                                <md-divider></md-divider>
                                            </div>
                                            <div class="container">
                                                <span><strong class="text-danger"> {{msg}}</strong> </span>

                                                <button type="button" class="btn btn-secondary"
                                                    style="width: 100%; margin-top: 25px; margin-bottom: 15px;"
                                                    ng-click="processAnswers()" type="submit">Próxima
                                                    Etapa</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>