<div class="  text-white text-center bg-secondary p-3 mb-2">
    <div class="container">
        <h5 class="card-title "> Estudo em Ambientes Educacionais Gamificados</h5>
    </div>
</div>


<div class="container">
    <div class="card">


        <div class="container">
            <div class="card-body text-center">
                <div class="row container card-body">
                    <div class="container">
                        <div class="container">
                            <h2 class="card-title text-center "> <img
                                    src="https://img.icons8.com/emoji/48/000000/party-popper.png" /> Obrigado Por
                                Participar <img src="https://img.icons8.com/emoji/48/000000/party-popper.png" /></h2>
                        </div>
                        <h6>Contribua ainda mais com este estudo compartilhando-o nas suas redes sociais:</h6>
                        <a href="http://twitter.com/share?url=https://weblab.nees.com.br/dalmaris/#/"
                            target="_blank" class="long-share-btn twitter">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="http://www.facebook.com/sharer/sharer.php?u=https://weblab.nees.com.br/dalmaris/#/"
                             target="_blank" class="long-share-btn facebook">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>