<div class="row text-white bg-secondary ">
    <div class="col">
        <img class="float-right" src="assets/default/images/ufal.png">
    </div>
    <div class="col-6">
        <h6 class="text-center" style="margin-top: 40px;">Estudo sobre Ansiedade em Ambientes Educacionais Gamificados
        </h6>
    </div>
    <div class="col ">
        <img class="float-left" src="assets/default/images/ic.png">
    </div>
</div>
<div class="container">
    <div layout="row" layout-align="center center" class="bg">
        <div class="card" style="width: 100%; margin-top: 15px;">
            <h4 class="card-header">Etapa I - Questionário Inicial</h4>
            <div class="card-body">
                <div class="row justify-content-md-center">

                    <div class="col">
                        <div class="col-sm-16">
                            <div class="card">
                                <h5 class="card-header">Parte 2/2</h5>
                                <div class="container">
                                    <div class="card-body">
                                        <p>
                                            Por favor, responda às seguintes questões com relação à sua experiência na
                                            atividade escolhida. Estas questões estão relacionadas com os pensamentos e
                                            sensações que você pode experienciar durante a participação numa atividade.
                                            Você pode experienciar estas características em alguns momentos, a todo
                                            momento ou em nenhum momento. Não há respostas certas ou erradas. Pense
                                            sobre quão frequentemente você experimenta cada característica durante sua
                                            atividade e então marque o número que melhor representa sua experiência.
                                        </p>
                                        <p><strong>Marque, para cada pergunta, o número correspondente abaixo para:</strong> </p>
                                        <ul class="nav" style="padding: 20px;">
                                            <div style="padding-left: 10px;">
                                                <li class="nav-item">
                                                    <strong >1</strong> - Nunca
                                                </li>
                                            </div>
                                            <div style="padding-left: 10px;">
                                                <li class="nav-item">
                                                    <strong >2</strong> - Raramente
                                                </li>
                                            </div>
                                            <div style="padding-left: 10px;">
                                                <li class="nav-item">
                                                    <strong >3</strong> - Às vezes
                                                </li>
                                            </div>
                                            <div style="padding-left: 10px;">
                                                <li class="nav-item">
                                                    <strong >4</strong> - Frequentemente
                                                </li>
                                            </div>
                                            <div style="padding-left: 10px;">
                                                <li class="nav-item">
                                                    <strong >5</strong> - Sempre
                                                </li>
                                            </div>
                                        </ul>
                                        <div class="container">
                                            <form>
                                                <div class="container" ng-repeat="q in questions"
                                                    style="width: 100%; margin-top: 25px; margin-bottom: 25px;">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h5>{{q}}</h5>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <md-radio-group ng-model="answers[$index]" layout="row"
                                                                class="md-primary">
                                                                <label><strong>1</strong></label>
                                                                <md-radio-button value="1" aria-label="option 1">
                                                                </md-radio-button>
                                                                <label><strong>2</strong></label>
                                                                <md-radio-button value="2" aria-label="option 2">
                                                                </md-radio-button>
                                                                <label><strong>3</strong></label>
                                                                <md-radio-button value="3" aria-label="option 3">
                                                                </md-radio-button>
                                                                <label><strong>4</strong></label>
                                                                <md-radio-button value="4" aria-label="option 4">
                                                                </md-radio-button>
                                                                <label><strong>5</strong></label>
                                                                <md-radio-button value="5" aria-label="option 4">
                                                                </md-radio-button>
                                                            </md-radio-group>
                                                        </div>
                                                    </div>
                                                    <md-divider></md-divider>
                                                </div>
                                                <div class="container">
                                                    <span><strong class="text-danger"> {{msg}}</strong> </span>

                                                    <button type="button" class="btn btn-secondary"
                                                        style="width: 100%; margin-top: 25px; margin-bottom: 15px;"
                                                        ng-click="processAnswers()" type="submit">Próxima
                                                        Etapa</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>