
    <div class="navbar text-white bg-secondary p-3 mb-2">
        <div class="container">
            <div class="col-10  align-middle">
                <h5 class="card-title">Etapa II</h5>
            </div>
            <img ng-src="{{getAvatar()}}" class="profile border border-secondary" width="50px">
        </div>
    </div>


<div class="container">
    <div class="container">
        <div class="card" style="width: 100%; margin-top: 15px;">
            <h4 class="card-header">Simulado</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="col-sm-16">
                            <div class="card-deck">
                                <div class="card text-center mb-3">
                                    <h6 class="card-header">Pontos</h6>
                                    <div class="card-body">
                                        <h2>{{getPoints()}}</h2>
                                    </div>
                                    <div ng-if="increment">
                                        <h3 class="success" layout-margin>+1</h3>
                                    </div>
                                    <div ng-if="decrement">
                                        <h3 class="fail" layout-margin>-1</h3>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="card mb-3" style="width: 100%;">
                                        <div class="card-header text-center">
                                            <h5>Ranking</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush" ng-repeat="a in getUsers()"
                                                class="list-item " style="background-color:{{getUserColor(a.name)}};">
                                                <li class="list-group-item">
                                                    <label class="text-left">
                                                        <h5>{{$index+1}}.</h5>
                                                    </label>
                                                    <img class="rounded-circle border " flex="30" ng-src="{{a.avatar}}">
                                                    <label>
                                                        <h6>{{a.name}}</h6>
                                                    </label>
                                                    <div width="100px" layout="row" layout-align="left center">
                                                        <img ng-src="{{getBar()}}"
                                                            ng-repeat="z in getNumber(a.points) track by $index">
                                                        <label class="small" layout-margin>
                                                            <h6 class="text-secondary">{{getUserPoints($index)}}</h6>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col ">
                        <div class="col-sm-16">
                            <div class="card mb-3" style="width: 100%;" ng-show="showQuestions">
                                <div class="card-header text-center">
                                    <p class="card-title">
                                        Responda as questões abaixo para ganhar pontos,
                                        troféus e atingir uma melhor posição no ranking!
                                    </p>
                                    <md-progress-linear class="md-primary " md-mode="determinate " value="{{progress}}">
                                    </md-progress-linear>
                                    <label layout-margin><b>Questão {{getQuestion()}}/5</b></label>
                                </div>
                                <img class="card-img-top" src="{{question()}} " alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-left">A resposta certa é:</h5>
                                    
                                    <div class="list-group" ng-repeat="item in items" ng-click="processAnswer()">
                                        <button type="button" class="list-group-item list-group-item-action">Letra
                                            {{item}}</button>
                                    </div>

                                    <div class="alert text-center"
                                        style="background-color:{{getBgColor()}}; color:white" ng-show="showMessage()">
                                        {{getMessage()}}
                                    </div>
                                </div>

                            </div>
                            <div ng-if="!checkSet1()">
                                <div class="card">
                                    <h3 class="card-body text-center">Etapa finalizada</h3>
                                    <div class="container">
                                        <button ng-click="showPosttest()" class="btn btn-secondary"
                                        style="width: 100%; margin-top: 25px; margin-bottom: 15px;">
                                        Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                </div>
            </div>

        </div>
    </div>
</div>