<div md-theme="{{dynamicTheme()}}" layout="column">

    <div class="navbar text-white bg-secondary p-3 mb-2">
        <div class="container">
            <div class="col-10  align-middle">
                <h5 class="card-title">Etapa II</h5>
            </div>
            <img ng-src="{{getAvatar()}}" class="profile border border-secondary" width="50px">
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="card" style="width: 100%; margin-top: 15px;">
            <h4 class="card-header">Simulado</h4>
            <div class="card-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="col-sm-16">
                            <div class="card-deck">
                                <div class="card text-center mb-3">
                                    <h5 class="card-header">Pontos</h5>
                                    <div class="card-body">
                                        <h2>{{getPoints()}}</h2>
                                    </div>
                                    <div ng-if="increment">
                                        <h3 class="success" layout-margin>+1</h3>
                                    </div>
                                    <div ng-if="decrement">
                                        <h3 class="fail" layout-margin>-1</h3>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="card mb-3" style="width: 100%;">
                                        <div class="card-header text-center">
                                            <h5>Ranking</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush" ng-repeat="a in getUsers()"
                                                class="list-item " style="background-color:{{getUserColor(a.name)}};">
                                                <li class="list-group-item">
                                                    <label class="text-left">
                                                        <h5>{{$index+1}}.</h5>
                                                    </label>
                                                    <img class="rounded-circle border " flex="30" ng-src="{{a.avatar}}">
                                                    <label>
                                                        <h6>{{a.name}}</h6>
                                                    </label>
                                                    <div width="100px" layout="row" layout-align="left center">
                                                        <img ng-src="{{getBar()}}"
                                                            ng-repeat="z in getNumber(a.points) track by $index">
                                                        <label class="small" layout-margin>
                                                            <h6 class="text-secondary">{{getUserPoints($index)}}</h6>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="col-sm-16">
                            <div class="card" ng-show="showAvatar" style="margin-bottom: 20px;">
                                <h5 class="card-header">Escolha o seu avatar</h5>

                                <div class="container">
                                    <div class="row">
                                        <div class="col text-center" ng-click="setAvatar(getImage(1))"
                                            style="margin: 10px;">
                                            <img ng-src="{{getImage(1)}}" class="rounded img-thumbnail">
                                        </div>
                                        <div class="col text-center" ng-click="setAvatar(getImage(2))"
                                            style="margin: 10px;">
                                            <img ng-src="{{getImage(2)}}" class="rounded img-thumbnail">
                                        </div>
                                        <div class="col text-center" ng-click="setAvatar(getImage(3))"
                                            style="margin: 10px;">
                                            <img ng-src="{{getImage(3)}}" class="rounded img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <button ng-click="hideAvatar()" class="btn btn-secondary"
                                        style="width: 100%; margin-top: 25px; margin-bottom: 15px;">Escolher
                                    </button>
                                </div>
                            </div>

                            <div class="card mb-3" style="width: 100%;" ng-show="showQuestions">
                                <div class="card-header text-center">
                                    <p class="card-title">
                                        Responda as questões abaixo para ganhar pontos,
                                        troféus e atingir uma melhor posição no ranking!
                                    </p>
                                    <md-progress-linear class="md-primary " md-mode="determinate " value="{{progress}}">
                                    </md-progress-linear>
                                    <label layout-margin><b>Questão {{getQuestion()}}/5</b></label>
                                </div>
                                <img class="card-img-top" src="{{question()}} " alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-left">A resposta certa é:</h5>
                                    <div ng-repeat="item in items " ng-click="processAnswer($index)">
                                        <button class="btn btn-outline-secondary border-0 ">Letra {{item}}</button>
                                    </div>

                                    <div class="alert text-center"
                                        style="background-color:{{getBgColor()}}; color:white" ng-show="showMessage()">
                                        {{getMessage()}}
                                    </div>
                                </div>

                            </div>
                            <div ng-if="!checkSet1()">
                                <md-card layout="column" layout-align="center left" class="md-primary" layout-padding>
                                    <h3>Etapa finalizada!</h3>
                                    <md-button ng-click="showPosttest()" flex="50" class="md-primary md-raised">
                                        Continuar</md-button>
                                </md-card>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 text-center">
                        <div class="col-sm-16">
                            <div class="card mb-3" style="width: 100%;">
                                <div class="card-header text-center">
                                    <h5 class="card-title">Meus Troféus</h5>
                                </div>
                                <div class="card-body">

                                    <div class="container">
                                        <div>
                                            <img ng-src="{{getBadge('badge5')}}" flex="40">
                                        </div>
                                        <div>
                                            <img ng-src="{{getBadge('badge10')}} " flex="40">
                                        </div>
                                        <div>
                                            <img ng-src="{{getBadge('badge')}}" flex="40">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>